*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.projFormContainer {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    border: 2px solid gray;
    padding: 15px;
    border-radius: 5px;
    
    .projForm {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            margin: auto;
        }

        input {
            min-width: 350px;
            border: 2px solid #EDEDEE; 
            padding: 10px 7px;
        }

        .addButton {
            border: none;
            border-radius: 10px;
            color: white;
            padding: 5px 20px;
            font-size: 1.2rem;
            background-color: #BB85F8;
            width: 20%;
            margin: auto;
        }
    }
}


.hidden {
    display: none !important; 
}

.containerDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .headerDiv {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #BB85F8;
        border-bottom: 3px solid gray;
    }

    .mainDiv {
        height: 100%;
        display: flex;
    }

    .leftSideDiv {
        margin-top: -3px;
        width: 30%;
        background-color: #814BF6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        color: white;

        .projList {
            margin-top: 20px;
            width: 80%;

            a {
                text-decoration: none;
                color: white;
                margin-bottom: 10px;
            }

            .listItem {
                list-style-type: none;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        .newProjectBtn {
            margin-top: auto;
            margin-bottom: 15px;
            border: none;
            border-radius: 10px;
            color: white;
            padding: 5px 20px;
            font-size: 1.2rem;
            background-color: white;
            color: black;
        }
    }

    .rightSideDiv {
        flex: 1;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .rightSideHeading {
            margin-bottom: 20px; 
        }
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .taskContainer {
            flex: 1;
        }
        
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            
            .inputContainer {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 10px;

                .inputBox {
                    min-width: 350px;
                    
                    border: 2px solid #EDEDEE; 
                    padding: 10px 7px;
                }
            }

            .radioContainer {
                display: flex;
                width: 50%;
                justify-content: space-around;
                font-size: 1.5rem;


                .lowRadioDiv, .highRadioDiv {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    align-items: center;
                }
            }

            .newTaskBtn {
                border: none;
                border-radius: 10px;
                color: white;
                padding: 5px 20px;
                font-size: 1.2rem;
                background-color: #BB85F8;
            }
        }
    }
}

